build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

webclient/.DS_Store
webclient/node_modules
webclient//build
webclient/.svelte-kit
webclient//package
webclient/.env
webclient/.env.*
webclient/!.env.example
webclient/vite.config.js.timestamp-*
webclient/vite.config.ts.timestamp-*
